html,body {
    margin: 0;
    padding: 0;
  }
  
  .logo-link {
    font-family: 'Syne Mono', monospace;
    color: rgb(5, 27, 46);
    padding-top: 1rem;
    font-size: 1.125rem;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 2rem 0;
    align-items: center;
    background-color: white;
  }

  .rb-disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
    border-top: 1px solid #F6F9FC;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .liquid-cart-item-image {
    border: none;
    mix-blend-mode: multiply;
}

.liquid-checkout-button{
    width: 100%;
    background: #1EA7FD;
    border-radius: 1px;
    height: 35px;
    line-height: normal !important;
    border: none;
    font-weight: lighter;
}


.general-style-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.general-style{
  width: 300px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.general-style label {
  margin-top: 1rem;
}

.close-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem;
}