html,body {
    margin: 0;
    padding: 0;
  }
  
a {
  text-decoration: none;
}

  .logo-link {
    padding-top: 0.75rem;
    padding-right: 0.5rem;
    font-size: 1.125rem;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
    background-color: white;
  }

  .rb-disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid #F6F9FC;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }


.liquid-checkout-button{
    width: 100%;
    height: 35px;
    line-height: normal !important;
    border: none;
    font-weight: lighter;
}

.cart-icon-wrapper{
  display: flex;
}