html,body {
    margin: 0;
    padding: 0;
  }
  
  .logo-link {
    font-family: 'Syne Mono', monospace;
    color: rgb(5, 27, 46);
    padding-top: 0.75rem;
    padding-right: 0.5rem;
    font-size: 1.125rem;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 2rem 0;
    align-items: center;
    background-color: white;
  }

  .rb-disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
    border-top: 1px solid #F6F9FC;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  .liquid-cart-item-image {
    border: none;
    mix-blend-mode: multiply;
}

.liquid-checkout-button{
    width: 100%;
    background: #1EA7FD;
    border-radius: 1px;
    height: 35px;
    line-height: normal !important;
    border: none;
    font-weight: lighter;
}

.cart-icon-wrapper{
  display: flex;
}